*{
    padding: 15px; margin: 0;
}
h2{
    color:#ffffff;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
    border: 3px solid #f1f1f1;
    padding: 5px;
    width: 350px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
form {
    border: 1px solid #f1f1f1;
    font-family: arial;
    width: 350px;
    margin: auto;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label{
    color:#50626C;
    text-transform: uppercase;
}
button {
    background-color: #049372;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f03434;
}

.imgcontainer {
    text-align: center;
    margin: 2px 5px 0 5px;
}

img.avatar {
    width: 50%;
    border-radius: 30%;
}
.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;

}
span{
    color:#50626C;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}